<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 引入外部配置文件 -->
    <properties resource="jdbc.properties"/>

    <!-- 为JAVA Bean起类别名 -->
    <typeAliases>
        <!-- 别名方式 1.一个一个配置，type中放置的是类的全路径， -->

    </typeAliases>

    <!-- 配置Mybatis运行环境 -->
    <environments default="cybatis">
        <environment id="cybatis">
            <transactionManager type="JDBC"></transactionManager>
            <!-- mybatis 提供了三种数据类型，分别是POOLED UNPOOLED JNDI -->
            <!-- POOLED 表示支持数据池 -->
            <!-- UNPOOLED 表示不支持数据源连接池 -->
            <!-- JNDI 表示支持数据源连接池 -->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!-- 告知映射文件方式1，一个一个的配置 -->

        <!-- 告知映射文件方式2  自动扫描包内的Mapper接口与配置文件 -->


    </mappers>


</configuration>